In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv('dataset.csv')
data.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    object
 1   Gender             601 non-null    object
 2   Married            611 non-null    object
 3   Dependents         599 non-null    object
 4   Education          614 non-null    object
 5   Self_Employed      582 non-null    object
 6   ApplicantIncome    614 non-null    int64
 7   CoapplicantIncome  614 non-null    float64
 8   LoanAmount         592 non-null    float64
 9   Loan_Amount_Term   600 non-null    float64
 10  Credit_History     564 non-null    float64
 11  Property_Area      614 non-null    object
 12  Loan_Status        614 non-null    object
dtypes: float64(4), int64(1), object(8)
memory usage: 62.5+ KB

In [4]:
data['Gender'].unique()

array(['Male', 'Female', nan], dtype=object)

In [5]:
data['Married'].unique()

array(['No', 'Yes', nan], dtype=object)

In [6]:
data['Dependents'].unique()

array(['0', '1', '2', '3+', nan], dtype=object)

In [7]:
data['Education'].unique()

array(['Graduate', 'Not Graduate'], dtype=object)

In [8]:
data['Self_Employed'].unique()

array(['No', 'Yes', nan], dtype=object)

In [9]:
data['Property_Area'].unique()

array(['Urban', 'Rural', 'Semiurban'], dtype=object)

In [10]:
data['Loan_Status'].unique()

array(['Y', 'N'], dtype=object)

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    object
 1   Gender             601 non-null    object
 2   Married            611 non-null    object
 3   Dependents         599 non-null    object
 4   Education          614 non-null    object
 5   Self_Employed      582 non-null    object
 6   ApplicantIncome    614 non-null    int64
 7   CoapplicantIncome  614 non-null    float64
 8   LoanAmount         592 non-null    float64
 9   Loan_Amount_Term   600 non-null    float64
 10  Credit_History     564 non-null    float64
 11  Property_Area      614 non-null    object
 12  Loan_Status        614 non-null    object
dtypes: float64(4), int64(1), object(8)
memory usage: 62.5+ KB

In [12]:
data['Gender'] = data['Gender'].map({'Male': 1, 'Female': 0})
data['Married'] = data['Married'].map({'No': 0, 'Yes': 1})
data['Dependents'].replace('3+', 3, inplace=True)
data['Education'] = data['Education'].map({'Graduate':1, 'Not Graduate':0})
data['Self_Employed'] = data['Self_Employed'].map({'No': 0, 'Yes': 1})
data['Property_Area'] = data['Property_Area'].map({'Urban': 1, 'Rural': 2, 'Semiurban': 3})
data['Loan_Status'] = data['Loan_Status'].map({'Y': 1, 'N': 0})

contain_null = ['Gender', 'Married', 'Dependents', 'Self_Employed', 'LoanAmount',
               'Loan_Amount_Term', 'Credit_History']
data[contain_null] = data[contain_null].replace({np.nan:data['Gender'].mode(),
                                                 np.nan:data['Married'].mode(),
                                                 np.nan:data['Dependents'].mode(),
                                                 np.nan:data['Self_Employed'].mode(),
                                                 np.nan:data['LoanAmount'].mean(),
                                                 np.nan:data['Loan_Amount_Term'].mean(),
                                                 np.nan:data['Credit_History'].mean()
                                                })

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    object
 1   Gender             614 non-null    float64
 2   Married            614 non-null    float64
 3   Dependents         614 non-null    float64
 4   Education          614 non-null    int64
 5   Self_Employed      614 non-null    float64
 6   ApplicantIncome    614 non-null    int64
 7   CoapplicantIncome  614 non-null    float64
 8   LoanAmount         614 non-null    float64
 9   Loan_Amount_Term   614 non-null    float64
 10  Credit_History     614 non-null    float64
 11  Property_Area      614 non-null    int64
 12  Loan_Status        614 non-null    int64
dtypes: float64(8), int64(4), object(1)
memory usage: 62.5+ KB

In [14]:
data.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,1.0,0.0,0.0,1,0.0,5849,0.0,0.842199,360.0,1.0,1,1
1,LP001003,1.0,1.0,1.0,1,0.0,4583,1508.0,128.000000,360.0,1.0,2,0
2,LP001005,1.0,1.0,0.0,1,1.0,3000,0.0,66.000000,360.0,1.0,1,1
3,LP001006,1.0,1.0,0.0,0,0.0,2583,2358.0,120.000000,360.0,1.0,1,1
4,LP001008,1.0,0.0,0.0,1,0.0,6000,0.0,141.000000,360.0,1.0,1,1

In [15]:
x = data.drop(columns=['Loan_ID', 'Loan_Status']).values
y = data['Loan_Status'].values

In [16]:
x.shape

(614, 11)

In [17]:
from sklearn.model_selection import train_test_split

In [18]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size= 0.25)

In [19]:
from sklearn import tree

In [25]:
model_1 = tree.DecisionTreeClassifier(criterion='entropy')

In [26]:
model_1.fit(x_train, y_train)

DecisionTreeClassifier(criterion='entropy')

In [27]:
y_pred_tree = model_1.predict(x_test)

In [28]:
from sklearn.metrics import accuracy_score

In [29]:
accuracy_score(y_test, y_pred_tree)

0.7337662337662337

In [30]:
from sklearn.ensemble import RandomForestClassifier

In [35]:
model_2 = RandomForestClassifier(criterion='entropy')

In [36]:
model_2.fit(x_train, y_train)

RandomForestClassifier(criterion='entropy')

In [37]:
y_pred_f = model_2.predict(x_test)

In [38]:
accuracy_score(y_test, y_pred_f)

0.7987012987012987